.dataTableContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.dataTablePagination {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.dataTable {
    background-color: white;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dataLoading {
    margin: 35px 0px;
}

.noData {
    margin: 50px 0px;
}