.imageRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.sideContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  margin-right: 8px;
}

.processing {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 32px;
}