.homeContainer {
	width: 1000px;
	margin: auto;
}

.homeWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.controlBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.imageList {
	width: 100%;
}

.temp {
	height: 750px;
	width: 100%;
	border-radius: 10px;
	background-color: red;
}

@media (max-width: 1000px) {
	.homeContainer {
		width: 100%;
	}
}
