.errorMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessageContainer i {
    font-size: 1em;
    margin-right: 10px;
}

.errorMessageContainer p {
    color: inherit;
}