.title {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 32px;
}

.imageList {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 32px !important;
	max-width: 1950px;
	margin: auto;
}