.topNavigation {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 500;
  height: 125px;
  background-color: white;

  @media (max-width: 1050px) {
    padding: 0 50px;
  }
}

.normalNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (max-width: 1050px) {
    display: none;
  }
}

.navigationItems {
  display: flex;
  align-items: center;
  justify-content: end;
}
