.file {
    width: 125px;
    height: 125px;
    background-color: #DCDCDC;
    border-radius: 5px;
    transition: opacity .25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.filePreview {
    position: relative;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .25s;
}

.filePreview i {
    font-size: 2.5em;
    color: black;
}

.fileName {
    height: 40%;
    text-align: center; 
    width: 100%;
    padding: 0 7px;
    box-sizing: border-box;
    transition: transform .25s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.fileName p {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    white-space: nowrap;
}

.loading {
    opacity: .5;  
}

.loading * {
    transform: scale(.85);
}