@use 'styling/colors';

$animation-timing: 500ms;

.navigationContainer {
	z-index: 500;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: height $animation-timing;
}

.navigationLayout {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	z-index: 510;
}

.hamburgerContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

.desktopItem {
	margin-left: 16px;
	margin-right: 16px;
}

.mobileItem {
	margin-top: 16px;
	margin-bottom: 16px;
}

.navigationItem {
	color: colors.$neutral_600;
	transition: color 250ms;

	&:hover {
		color: colors.$neutral_900;
	}
}

.mobileContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 505;
	transition: transform $animation-timing;
}