body, html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 600 !important;
}

html {
	overflow-y: scroll;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

#root {
  min-height: 100vh;
	position: relative;
}

button {
  font-size: inherit;
}