@use 'styling/colors';

.galleryButtonContainer {
  margin-right: 16px;
  margin-bottom: 16px;
	display: inline-block;
}

.galleryButtonWrapper {
	display: inline-block;
	max-height: 300px;
	min-height: 100px;
	aspect-ratio: 1 / 1;
	height: auto;
	position: relative;

	&:hover {
		.galleryImage {
			transform: scale(1.05);
		}

		.galleryName {
			bottom: -26px;
			transform: scale(1.05);
		}
	}
}

.galleryImage {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	display: flex;
	transform: none;
	transition: transform .5s, box-shadow .5s;
}

.image {
	height: 100%;
	width: 100%;
}

.galleryName {
	display: inline-block;
	background-color: colors.$white;
	border-radius: 5px;
	border: 1px solid colors.$neutral_200;
	text-align: center;
	color: colors.$black;

	padding-top: 12px;
	padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
	
	position: absolute;
	right: -16px;
	bottom: -16px;
	min-width: 65%;
	max-width: 95%;

	transform: none;
	transition: transform .5s, bottom .5s, box-shadow .5s;
}