@use 'styling/colors';

.footer {
  width: 100%;
  color: colors.$white;
  background-color: colors.$neutral_900;
  height: 70px;
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.footerItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  @media (max-width: 500px) {
    p {
      font-size: 0.75em !important;
    }
  }
}

.text {
  margin-left: 8px;
}