.buttonContainer {
    margin: 0 4vw;
}

.listContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

@media (max-width: 2000px) {
    .buttonContainer {
        margin: 0 2vw;
    }
}

@media (max-width: 1000px) {
    .buttonContainer {
        margin: 0 10px;
    }
}

@media (max-width: 850px) {
    .buttonContainer {
        max-width: 350px;
    }

    .listContainer {
        flex-direction: column;
    }
}