@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.normal {
    width: 60px;
    height: 60px;
}

.small {
    width: 35px;
    height: 35px;
}

.tiny {
    width: 20px;
    height: 20px;
}

.spinner {
    display: inline-block;
    border: 5px solid #f3f3f3;
    border-top-color: #6b6b6b;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    margin: 15px;
}

.fullScreen {
    height: calc(100vh - 81px);
}