@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 5px solid #f3f3f3;
    border-top-color: #6b6b6b;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    margin: 15px;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinnerCenterHorizontal {
    width: 100%;
}

.spinnerCenterVertical {
    height: 100%;
}

.fullScreen {
    height: calc(100vh - 81px);
}