.navItem {
  font-family: "CooperHewitt Medium";
  text-decoration: none;
  color: black;
  transition: opacity .4s;
  box-sizing: border-box;
  margin: 0 20px;
}

.navItem:hover {
  cursor: pointer;
  opacity: .7;
}

.navItem:visited {
  color: black;
}