$success_900: #008a00;
$success_800: #00ae04;
$success_700: #00c316;
$success_600: #1cd923;
$success_500: #3aea2c;
$success_400: #67ef55;
$success_300: #8cf479;
$success_200: #b1f8a3;
$success_100: #d2fbc8;

$danger_900: #ce0000;
$danger_800: #de000d;
$danger_700: #ec0016;
$danger_600: #fe001b;
$danger_500: #ff1d17;
$danger_400: #ff363a;
$danger_300: #ff6565;
$danger_200: #ff9391;
$danger_100: #ffcacf;

$neutral_900: #3c3c3c;
$neutral_800: #606060;
$neutral_700: #818181;
$neutral_600: #979797;
$neutral_500: #c2c2c2;
$neutral_400: #dedede;
$neutral_300: #f0f0f0;
$neutral_200: #f5f5f5;
$neutral_100: #fafafa;

$info_900: #0044aa;
$info_800: #0063ca;
$info_700: #0074dc;
$info_600: #0086ef;
$info_500: #0094fe;
$info_400: #0ea4ff;
$info_300: #50b4ff;
$info_200: #87c9ff;
$info_100: #b7defe;

$white: #fff;
$black: #000;