$success_900: #008a00;
$success_800: #00ae04;
$success_700: #00c316;
$success_600: #1cd923;
$success_500: #3aea2c;
$success_400: #67ef55;
$success_300: #8cf479;
$success_200: #b1f8a3;
$success_100: #d2fbc8;
$success_50: #edfee9;

$danger_900: #ce0000;
$danger_800: #de000d;
$danger_700: #ec0016;
$danger_600: #fe001b;
$danger_500: #ff1d17;
$danger_400: #ff363a;
$danger_300: #ff6565;
$danger_200: #ff9391;
$danger_100: #ffcacf;
$danger_50: #ffe9ec;

$neutral_900: #131313;
$neutral_800: #333333;
$neutral_700: #515151;
$neutral_600: #646464;
$neutral_500: #8b8b8b;
$neutral_400: #acacac;
$neutral_300: #d1d1d1;
$neutral_200: #e3e3e3;
$neutral_100: #eeeeee;
$neutral_50: #f8f8f8;

$info_900: #0044aa;
$info_800: #0063ca;
$info_700: #0074dc;
$info_600: #0086ef;
$info_500: #0094fe;
$info_400: #0ea4ff;
$info_300: #50b4ff;
$info_200: #87c9ff;
$info_100: #b7defe;

$white: #fff;
$black: #000;