$transition-timing: .25s;

.button {
	border: none;
	text-decoration: none;
	transform: none;
	margin: 5px;

	font-size: inherit;

	height: auto;
	width: auto;
	cursor: pointer;

	&:focus {
		outline: 0;
	}
}

.classic {
	box-sizing: border-box;
	transition: background-color $transition-timing;

	&.success {
		border: none;
		background-color: #B6FFAD;

		&:hover:enabled {
			background-color: #7eff6d;
		}
	}

	&.destructive {
		border: none;
		background-color: #FFCACA;

		&:hover:enabled {
			background-color: #ff6565;
		}
	}

	&.default {
		border: 1px solid #E7E7E7;
		box-sizing: border-box;
		background-color: white;	

		&:hover:enabled {
			border: 1px solid #f0f0f0;
			background-color: #f0f0f0;
		}
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .75;
	}

	&.regular {
		padding: 8px 16px;
		border-radius: 5px;
	}

	&.round {
		height: 30px;
		width: 30px;
		border-radius: 50%;
	}
}

.light {
	font-weight: bold;
	transition: color $transition-timing;
	background-color: transparent;

	&.success {
		color: #7eff6d;
	}

	&.destructive {
		color: #ff6565;
	}

	&.default {
		color: #7E7E7E;
	}

	&.round {
		size: 1.25em;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .75;
	}
}