/* -------- RECENT IMAGE ----------> */

.recent-image-container {
    display: inline-block;
    position: relative;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
    margin: 10px;

    transform: none;
    transition: transform .35s;
}

.recent-image-container:hover {
    transform: scale(1.015);
}

.recent-image-container .image {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.recent-image-container .portrait-fill {
    position: relative;
    filter: blur(8px) brightness(85%);
    position: relative;
    bottom: -4px;
    max-height: 446px;
    width: 100%;
    height: 100%;
    left: 0;
}
  
.recent-image-container .portrait {
    width: auto;
    height: 100%;
    position: absolute;
    max-height: 450px;
    left: 50%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-50%) translateY(-50%);
}
  
.recent-image-container .landscape {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: auto;
    bottom: -6px;
}

.recent-image-container .info {
    padding-top: 4px;
    height: 50px;
}
  
.recent-image-container .info .category {
    float: left;
    margin-left: 25px;
    font-family: "CooperHewitt Medium";
    font-size: .8em;
    color: #7E7E7E;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}

.recent-image-container .category:hover {
    color: black;
}
  
.recent-image-container .info .date {
    float: right;
    margin-right: 25px;
    font-family: "CooperHewitt Medium";
    font-size: .8em;
    color: #7E7E7E;
}