.gallery-button-container {
  margin: 10px;
  display: inline-block;
}

.gallery-button {
  max-width: 400px;
  min-width: 100px;
  position: relative;
  overflow: visible;
  margin-bottom: 25px;
  margin-right: 25px;
}

.gallery-button .gallery-image-container {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  display: flex;

  transform: none;
  transition: transform .5s, box-shadow .5s;
}

.gallery-button .gallery-image-container img {
  height: 100%;
  width: 100%;
}

.gallery-button .gallery-name {
  position: absolute;
  right: -25px;
  bottom: -25px;

  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  min-width: 75%;
  max-width: 95%;
  text-align: center;
  color: black;

  transform: none;
  transition: transform .5s, bottom .5s, box-shadow .5s;
}

.gallery-button .gallery-name  p {
  margin: 15px;
}

.gallery-button a:hover > .gallery-image-container {
  transform: scale(1.05);
}

.gallery-button a:hover > .gallery-name {
  bottom: -40px;
  transform: scale(1.05);
}