@use 'styling/colors';

.dropArea {
	position: relative;
  padding: 5px;
  border-color: colors.$neutral_200;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  transition: border-color .25s;
  overflow-y: auto;
  height: 300px;
}

.greenBorder {
  border-color: colors.$success_500 !important;
}

.redBorder {
	border-color: colors.$danger_500 !important;
}

.filesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loadingBlocker {
  position: absolute;
  left: 0;
  top: 0;
  background-color: colors.$neutral_600;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.spinerContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}