@use 'styling/colors';

.landingContainer {
  height: calc(100vh - 81px);
}

.landingButtonContainer {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.galleriesPreviewContainer {
  background-color: colors.$white;
  display: block;
  width: 100%;
}

.row {
  text-align: center;
  width: 100%;
}

.titleContainer {
  margin: 24px 0px;
  width: 100%;
  text-align: center;
}

.seeAllGalleriesButton {
  margin: 40px 0px;
}

.galleryButtonContainer {
  margin: 0 4vw;

  @media (max-width: 2000px) {
    margin: 0 2vw;
  }

  @media (max-width: 1000px) {
    margin: 0 10px;
  }

  @media (max-width: 850px) {
    max-width: 350px;
  }
}

.listContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;

  @media (max-width: 850px) {
    flex-direction: column;
  }
}
