.roundButton {
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    transform: none;
    border: none;
    transition: .25s transform, .25s background-color;
    overflow: hidden;
}

.small {
    font-size: 1em !important;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    height: 30px;
    width: 30px;
}

.medium {
    font-size: 2em !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    height: 55px;
    width: 55px;
}

.active {
    background-color: #e3e3e3;
}

.bgColor:hover {
    background-color: #f2f2f2;
}

.scale:hover {
    transform: scale(1.05);
}

.roundButton:hover {
    cursor: pointer;
}

.roundButton:disabled:hover {
    transform: scale(1);
    background-color: white;
    cursor: not-allowed;
}

.roundButton:focus {
    outline: none;
}

.contentContainer {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content p {
    font-weight: 600;
    margin: 0;
    padding: 0;
}