.informationMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationMessageContainer i {
    font-size: 1em;
    margin-right: 10px;
}

.informationMessageContainer p {
    color: inherit;
}