.informationMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small i, .small p {
    font-size: 0.85em;
}

.medium i, .medium p {
    font-size: 1em;
}

.informationMessageContainer i {
    margin-right: 10px;
}

.informationMessageContainer p {
    color: inherit;
}